.cards {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.films-cards__list {
  display: grid;
  grid-template-columns: repeat(3, 367px);
  /* grid-row-gap: 300px; */
  padding: 80px 0 30px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: -10px;
  list-style: none;
  gap: 25px 20px;
  /* justify-content: center; */
  border-top: solid 1px #e8e8e8;
}

.films-cards__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 80px;
  min-height: 140px;
}

.films-cards__button-container_pudding {
  padding: 0px;
  min-height: 120px;
}

.films-cards__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  background-color: transparent;
  border-radius: 5px;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #e8e8e8;
}

.films-cards__button:hover {
  cursor: pointer;
  opacity: 0.6;
  border: 1px solid #2be080;
}

.search__error {
  font-style: normal;
  margin: 0 auto;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #a0a0a0;
}

/* @media screen and (max-width: 1180px) {
  .films-cards__list {
    grid-template-columns: repeat(3, 270px);
  }
} */

@media screen and (max-width: 1281px) {
  .films-cards__list {
    grid-template-columns: repeat(2, 339px);
    margin: -10px auto;
  }
}

@media screen and (max-width: 1024px) {
  .films-cards__list {
    grid-template-columns: repeat(2, 339px);
    gap: 30px 30px;
    padding: 80px 0 30px;
    /* margin-left: 30px;
    margin-right: 30px; */
    /* margin-top: -10px; */
    margin: -10px auto;
  }

  .films-cards__button-container {
    padding-top: 29px;
    /* padding-bottom: ; */
    min-height: 36px;
  }
}

@media screen and (max-width: 700px) {
  .films-cards__list {
    grid-template-columns: repeat(1, 339px);
    /* display: flex; */
    justify-items: center;
  }
}

@media screen and (max-width: 577px) {
  .films-cards__list {
    padding: 40px 10px 30px;
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
    justify-content: center;
  }

  .films-cards__button {
    width: 240px;
  }

  .films-cards__list {
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
    margin-bottom: 16px;
    margin-right: 10px;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .films-card__container {
    margin-left: 0;
   
  }

  .films-cards__button-container {
    padding-bottom: 100px;
  }
  
}
