.card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  /* border-radius: 10px; */
  /* height: 218px; */
}

.movies-card__container { 
  display: flex;
  justify-content: space-between;
  padding: 14px 14px 12px;
}

.movies-card__image {
  width: 100%;
  height: 203px;
  object-fit: cover;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.movies-card__text {
  /* font-style: normal; */
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  max-width: 280px;
  margin-top: 0;
}

.movies-card__time {
  display: flex;
  align-items: center;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

.movies-card__save-button {
  border: none;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #f9f9f9;
  /* background-color: #2BE080; */
  
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09); */
  background-repeat: no-repeat;
  background-position: center ;
  background- : 13px ;
  background-image: url(../../images/card-like1.svg);
}

.movies-card__save-button_active {
  /* background: #2be080; */
  background-color: #2BE080;
  background-image: url(../../images/save-button.svg);
}

.movies-card__save-button:hover {
  box-shadow: 0px 0px 9px 7px rgba(43, 224, 128, 0.8);
  opacity: 0.6;
}

.movies-card__del-button {
  width: 16px;
  height: 16px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('../../images/del-button.svg');
}

.movies-card__del-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 577px) {
  .movies-card__image {
    height: 168px;
  }
}
