.card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.films-card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px 12px;
}

.films-card__image {
  width: 100%;
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
}

.films-card__text {
  margin: 0;
  padding: 0;
  /* padding-left: 15px; */
  max-width: 250px;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

}

.films-card__time {
  display: flex;
  align-items: center;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  width: 52px;
  height: 18px;
  border-radius: 3px;
  background-color: #2F2F2F;
  /* text-align: center; */
  /* display: block; */
  justify-content: center;
  vertical-align: middle;
}

.img-card__link {
  padding: 0;
  margin: 0;
  height: 0;
  border: 0;
}

.img-card__container {
  position: relative;
  height: 201px;
}
.img-card__container:hover {
  box-shadow: 0px 0px 8px 6px #ee3465;
  opacity: 0.7;
  border-radius: 6px;
}

.img-card__container:hover .films-card__save-button {
  /* box-shadow: 0px 0px 9px 7px #EE3465;
  opacity: 0.7; */
  display: block;
}

.films-card__save-button_bird
  .img-card__container:hover
  .films-card__save-button {
  /* box-shadow: 0px 0px 9px 7px #EE3465;
  opacity: 0.7; */
  /* display: none; */
}

.films-card__save-button {
  display: none;
  border: none;
  position: absolute;
  right: 14px;
  top: 14px;
  padding-top: 0;
  border-radius: 50px;
  /* margin-top: 5px; */
  width: 72px;
  height: 21px;
  cursor: pointer;
  /* background: #f9f9f9; */

  /* background-image: url(../../images/card-like1.svg); */
  background-color: #313131;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  /* identical to box height, or 90% */

  text-align: center;
  color: #ffffff;
}

.films-card__save-button_displayNone {
  display: none;
}

.films-card__save-button_bird {
  /* background-color: #3DDC84; */
  position: absolute;
  cursor: pointer;
  border: none;
  right: 14px;
  top: 14px;
  height: 21px;
  width: 21px;
  padding-top: 0;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../../images/bird.svg);
}

.films-card__save-button:hover {
  box-shadow: 0px 0px 9px 7px #ee3465;
  opacity: 0.6;
}



.films-card__del-button {
  display: none;
  position: absolute;
  cursor: pointer;
  border: none;
  right: 14px;
  top: 14px;
  height: 21px;
  width: 21px;
  padding-top: 0;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #2F2F2F;
  background-image: url(../../images/Card-cl-butt.svg);
}

.films-card__del-button:hover {
  cursor: pointer;
  opacity: 0.6;
  box-shadow: 0px 0px 9px 7px #ee3465;
}

.films-card__del-button:hover .films-card__del-button{
  display: block;
}

.img-card__container:hover .films-card__del-button {
  display: block;
}

@media screen and (max-width: 1024px) {
  .films-card__image {
    height: 190px;
  }

  .films-card__del-button {
    margin-top: 19px;
  }

  .films-card__container {
    /* padding: 0 14px; */
    padding-top: 23px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 18px;
    align-items: center;
  }

  .films-card__text {
    /* margin-top: 14px; */
  }

  .films-card__time {
    /* margin-bottom: 10px; */
  }
  .img-card__container {
    /* position: relative; */
    height: 190px;
  }
}

@media screen and (max-width: 577px) {
  .films-card__image {
    height: 168px;
  }

  .films-card__save-button {
    margin-top: 18px;
  }
  .films-card__text {
    max-width: 235px;
  }
}
