.portfolio {
  padding: 0 70px 105px 70px;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  mix-blend-mode: normal;
  margin-bottom: 30px;
  color: #8b8b8b;
}

.portfolio__list {
  list-style-type: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 20px;
  color: #000;

  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
  background-image: url(../../images/text__COLOR_font-main.svg);
}

.portfolio__link:last-child {
  padding-bottom: 20px;
}

.portfolio__link:hover {
  color: #a0a0a0;
}

.portfolio__link-border {
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
}

.portfolio__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .portfolio {
    padding: 0 55px 71px 50px;
  }

  .portfolio__text {
    font-size: 28px;
    color: #ffffff;
  }

  .portfolio__image {
    margin-top: 10px;
    margin-right: 5px;
  }

  .portfolio__link {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18px 18px;
    background-image: url(../../images/text__COLOR_font-main.svg);
  }
}

@media screen and (max-width: 577px) {
  .portfolio {
    padding: 0 14px 70px 14px;
  }

  .portfolio__link:first-child {
    margin: 21px auto 0;
  }
  .portfolio__title {
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .portfolio__text {
    line-height: 28px;
    font-size: 18px;
  }

  .portfolio__image {
    width: 35px;
    margin-top: 0px;
    margin-right: 0px;
  }

  .portfolio__link {
    margin: 0px auto;
    padding-bottom: 28px;
    height: 18px;
    width: 18;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px;
    background-image: url(../../images/text__COLOR_font-main.svg);
  }
}
