.promo {
  box-sizing: border-box;
  /* padding: 20px 40px 0 40px; */
  position: relative;
  margin: 0;
  padding: 0;
}

.promo__cercles {
  /* background-size:  722px;
  color: #000;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
  background-image: url(../../images/text__COLOR_landing-logo.svg); */
  width: 722px;
  /* background-repeat: no-repeat; */
  /* position: relative; */
  /* left: 200px; */
  margin-left: auto;
  padding-right: 70px;
  padding-top: 45px;
  padding-bottom: 61px;
  /* overflow: hidden; */
  /* display: block; */
/* position: absolute; */

}

.promo__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:left;
  min-height: 493px;
  /* border-radius: 10px; */
  background-color: #073042;
  
}

.promo__title {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-top: 51px;
  padding-bottom: 55px;
  max-width: 626px;
  font-weight: 400; 
  font-size: 50px;
  line-height: 58px;
  text-align: left;
  letter-spacing: -0.04em;

  font-size: 40px;
  line-height: 52px;
}

@media screen and (max-width: 1024px) {
  .promo {
    /* padding: 20px 20px 0 20px; */
    margin: 0;
  padding: 0;
  }
  .promo__container {
    min-height: 834px;
    margin: 0;
  padding: 0;
  }
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 577px) {
  .promo {
    /* padding: 14px 14px 0 14px; */
    margin: 0;
  padding: 0;
  }
  .promo__container {
    min-height: 586px;
    margin: 0;
  padding: 0;
  }
  .promo__title {
    font-size: 29px;
    max-width: 292px;
    line-height: 37px;
    padding-bottom: 33px;
  }
}
