.promo {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

.promo__container {
  display: flex;
  flex-direction: column;
  background-color: #073042;
}
.promo__cercles {
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  background-image: url(../../images/text__COLOR_landing-logo.svg);
  width: 722px;
  height: 244px;
  background-size: cover;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 45px;
  margin-bottom: 61px;
}

.promo__title {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-top: 51px;
  padding-bottom: 55px;
  max-width: 626px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: left;
  letter-spacing: -0.04em;
  font-size: 40px;
  line-height: 52px;
}

@media screen and (max-width: 1024px) {
  .promo {
    margin: 0;
    padding: 0;
  }
  .promo__container {
    min-height: 834px;
    margin: 0;
    padding: 0;
  }

  .promo__title {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 300px;
    padding-left: 44px;
    padding-bottom: 44px;
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 30px;
  }

  .promo__cercles {
    margin-top: 111px;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    height: 230px;
  }

  .project__time-header_green {
    width: 140px;
  }
}

@media screen and (max-width: 577px) {
  .promo {
    margin: 0;
    padding: 0;
  }
  .promo__container {
    min-height: 586px;
    margin: 0;
    padding: 0;
  }
  .promo__title {
    font-weight: 400;
    font-size: 31px;
    line-height: 39px;
    min-width: 300px;
    padding: 183px 10px 60px;
    letter-spacing: -0.04em;
  }

  .promo__cercles {
    padding: 0;
    margin: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 40px;
    width: 320;
    height: 230px;
    margin-left: -180px;
  }
}
