.wrong-address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
}

.wrong-address__text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.wrong-address__error {
  font-weight: 400;
  font-size: 140px;
  line-height: 1.21;
}

.wrong-address__error-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.wrong-address__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #4285F4;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  transition: all 0.3s ease;
}

.wrong-address__button:hover {
  opacity: 0.8;
}

/* @media screen and (max-width: 1024px) {
  .wrong-address__error {
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
  }
} */
@media screen and (max-width: 700px) {
  .wrong-address__button {
    bottom: 212px;
  }
}

@media screen and (max-width: 450px) {
  .wrong-address__text-container {
    gap: 10px;
  }

  .wrong-address__error {
    font-size: 80px;
  }

  .wrong-address__error-name {
    font-size: 12px;
    line-height: 1.25;
  }

  .wrong-address__button {
    font-size: 12px;
    line-height: 1.25;
    bottom: 30px;
  }
}
