.search {
  /* justify-self: stretch; */
  /* flex-direction:row; */
  /* position: relative; */

  align-content: stretch;
  /* justify-items: stretch; */
  /* justify-content: space-around; */
}

.search__forms-container {
  background-color: white;
  margin: 70px 70px 79px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__form-error {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #2be080;
}

.search__form {
  display: flex;
  align-items: center;
  /* justify-items: stretch; */
  /* justify-content: start; */
  flex-grow: 1;
}

.search__label {
  background-image: url("../../images/search-icon.svg");
  width: 22px;
  height: 22px;
  margin: 25px 17px 25px 25px;
  background-size: 14px;
  /* padding: 25px 16px 25px 25px; */
  background-position: center;
  background-repeat: no-repeat;
}

.search__input {
  /* min-height: 34px; */
  /* padding-left: 34px; */
  border: none;
  /* flex: 1 1 auto; */
  /* min-width: 10px; */
  width: calc(100% - 160px);
  text-align: left;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
  /* margin-left: auto; */
  /* color: #A0A0A0; */
  background-color: #f9f9f9;
}

.search__input:focus {
  background-color: rgba(43, 224, 128, 0.4);
}

input::-webkit-input-placeholder {
  color: #a0a0a0;
}

input:-moz-placeholder {
  color: #a0a0a0;
}

input::-moz-placeholder {
  color: #a0a0a0;
}

input:-ms-input-placeholder {
  color: #a0a0a0;
}

.search__button {
  background-image: url("../../images/search-button.svg");
  width: 34px;
  height: 34px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  /* margin: 19px 0 19px auto; */
  flex-grow: 1;
  /* padding-right: 30px; */
}

.search__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .search {
    padding: 10px 1px 40px;
  }

  .search__forms-container {
    margin-left: 30px;
    margin-right: 30px;
  }

  .search__label {
    margin: 25px 12px 25px 25px;
  }

  .search__button {
    padding-right: 15px;
    margin-right: 21px;
    background-position: right;
  }
}

@media screen and (max-width: 577px) {
  /* .search {
    padding: 92px 14px 50px;
  } */

  .search__form {
    margin-bottom: 0;

    align-items: center;
  }

  .search__label {
    display: none;
  }

  .search__input {
    width: calc(100% - 80px);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
  }
  .search__forms-container {
    flex-direction: column;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 49px;
    border-bottom: solid 1px #e8e8e8;
    /* padding-bottom: 20px; */
  }

  .search__form-container {
    background-color: #f9f9f9;
    /* border-radius: 50%; */
    border-radius: 9px;
    width: 93%;
    /* margin: auto; */
    display: flex;
    align-content: center;
    padding: 20px 0px 20px;
    /* margin: 0 20px; */
    margin-bottom: 36px;

  }



  .search {
    padding-bottom: 0 ;
  }
}
