.nav-tab {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  gap: 10px;
}

.nav-tab__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #e8e8e8;
  color: #000000;
}

.nav-tab__link:hover {
  transform: translate(0, -7px) scale(1.1);
  cursor: pointer;
  transition-duration: 0.5s;
  background: #3ddc84;
}

@media screen and (max-width: 577px) {
  .nav-tab {
    bottom: 17px;
    gap: 6px;
  }
  .nav-tab__link {
    height: 26px;
    width: 82px;
    border-radius: 6px;
    font-size: 10px;
    line-height: 16px;
  }
}
